:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --accent-background: #2f303a;
}
/* Сброс */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
img {
  display: block;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
/* Боди */
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
}
/* Контейнер */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*Шапка*/
.header {
  border: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
/*Логотип*/
.prelogo {
  color: var(--accent-color);
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: #000000;
  margin-right: 93px;
}
/*Навигация*/
.nav-list {
  display: flex;
}
.nav-list .item + .item {
  margin-left: 50px;
}
.info {
  display: flex;
  margin-left: auto;
}
.nav {
  display: flex;
  align-items: center;
}
.info .item + .item {
  margin-left: 50px;
}
.link-nav {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-color);

  padding-top: 36px;
  padding-bottom: 30px;
}
.link-info {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}
/* Icon */
.info .icon {
  fill: currentColor;
  margin-right: 10px;
}
/* Hover Focus Current */
.link-nav.current,
.link-info:hover,
.link-nav:hover,
.address-link:hover,
.footer-link:hover,
.link-info:focus,
.link-nav:focus,
.address-link:focus,
.footer-link:focus {
  color: var(--accent-color);
}
.current {
  position: relative;
}
.current::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/*Герой*/
.hero {
  text-align: center;
  align-items: center;
  max-width: 1600px;

  background-color: var(--accent-background);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/studio/bgimd.jpg);
  background-size: cover;
  background-position: center;

  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);

  margin-bottom: 30px;
}

/*Кнопка героя*/
.button-hero {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  height: 50px;
  min-width: 200px;
  cursor: pointer;

  background-color: var(--accent-color);
  color: var(--white-color);

  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border: solid transparent;
  border-radius: 4px;
}
.button-hero:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*Секции*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section .list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.section .item {
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}
.heading {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--title-color);

  margin-bottom: 50px;
}

.section .title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.18;

  color: var(--title-color);

  margin-bottom: 10px;
}
.section .text {
  font-size: 14px;
  line-height: 1.7;
}
/* Особенности */
.nopadding {
  padding-bottom: 0;
}
.features .item {
  width: 270px;
}
.features .title {
  color: var(--title-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.features .box {
  max-width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*Чем мы занимаемся*/
.works .list {
  margin-left: -30px;
}
.works .item {
  position: relative;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.works-text {
  position: absolute;
  bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  background: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
}

/* Наша команда */
.team .list-icon {
  text-align: center;
  margin-left: 0;
  margin-top: 16px;
  justify-content: center;
}
.team .icon-link {
  color: #afb1b8;
}
.team .icon-link:hover,
.team .icon-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}
.list-icon .icon-link {
  fill: currentColor;
  display: flex;
  padding: 12px;
  border-radius: 50%;
}
.list-icon .icon + .icon {
  margin-left: 10px;
}
.team .item {
  width: 270px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team .title {
  font-size: 16px;
}
.team .text {
  font-size: 16px;
  line-height: 1.18;
}
.caption {
  background-color: var(--white-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
.section.team {
  background-color: #f5f4fa;
}

/* Постоянные клиенты */
.clients .icon {
  display: flex;
  width: 170px;
  height: 92px;
  margin-left: 30px;
  flex-basis: calc((100% - 180px) / 6);

  fill: currentColor;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients .icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
}
.clients .icon-link:hover,
.clients .icon-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/*Футер*/
.footer {
  background-color: var(--accent-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-box {
  display: flex;
}
.footer-logo {
  display: inline-block;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  margin-bottom: 20px;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  margin-right: 70px;
}
.footer-logo,
.address-link {
  color: var(--white-color);
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
.address .item {
  margin-bottom: 9px;
}
.address .item:last-child {
  margin-bottom: 0px;
}
.social-link .list-icon {
  display: flex;
}
.join {
  display: inline-block;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--white-color);
}
.social-link .icon-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
}
.social-link .icon-link:hover,
.social-link .icon-link:focus {
  background-color: var(--accent-color);
}

/* Портфолио*/
/* Кнопки портфолио */
.list.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter .item {
  flex-basis: auto;
}
.filter .item + .item {
  margin-left: 8px;
}
.button-portfolio {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;

  background: #f5f4fa;
  color: var(--title-color);

  height: 38px;
  min-width: 73px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  border-radius: 4px;
  border: solid transparent;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Карточки портфолио */
.portfolio .list {
  flex-wrap: wrap;

  margin-top: -30px;
}
.portfolio .item {
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.portfolio .item:hover,
.portfolio .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-color);
}
.portfolio .subject {
  font-size: 16px;
  line-height: 1.8;

  color: var(--primary-text-color);
}
.portfolio .text {
  width: 370px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
